<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Your Objection</title>
  </head>
  <body>
    <h1>Edit Objection</h1>
    <h3>Username @<%= post.username %></h3>
    <h5>Id : <%= post.id %></h5>
    <form action="/posts/<%= post.id %>?_method=PATCH" method="post">
      <textarea name="content" rows="10" cols="30"><%= post.content %></textarea>
      <button type="submit">Post</button>
    </form>
  </body>
</html>
