<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 id="h01">New Post</h1>
    <h6 style="color: red; font-size: 12px;">Content must be more than 50 word.</h6>
    <form action="/posts" method="post">
        <h5>Enter Username </h5>
        <input type="text" name="username" placeholder="Username">
        <h5>Enter Your Objection</h5>
        <textarea name="content" placeholder="Content" cols="30" rows="10"></textarea><br>
        
        <button type="submit">Post</button>
    </form>
</body>
</html>